.about{
    height: max-content;
    padding: 80px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_top{
    display: flex;
}

.about_title{
    width: 44%;
    background-image: url(../img/about_bg.png);
    background-repeat: no-repeat;
    background-position-y: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 35px;
}

.about_text{
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p{
        color: $text;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
    }
}




@media screen and (max-width: 768px){
    .about{
        padding: 60px 0;
        .about_top{
            flex-direction: column;
            .about_title{
                width: 100%;
                padding: 0 8%;
                background-image: none;
                margin-bottom: 20px;
            }
            .about_text{
                width: 100%;
                padding: 0 8%;
                background-image: url(../img/about_bg_mobile.png);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}