.hero{
    height: 100vh;
    width: 100vw;
    background-color: $hero_bg;
    display: flex;
    justify-content: space-between;
    padding: 70px 10% 50px 12%;
}

.hero_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-top: 70px;
    h2{
        font-size: 4.2rem;
        color: $title;
    }
    p{
        font-size: 1.5rem;
        color: $subtitle;
        margin-top: 5px;
        margin-bottom: 70px;
    }
}


@media screen and (max-width: 768px){
    .hero{
        padding: 70px 2% 30px 6%;
    }

    .hero_title{
        width: 100%;
        padding-top: 0px;
        h2{
            font-size: 3.3rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
}


@media screen and (max-width: 1024px){

    .hero{
        padding: 70px 2% 30px 6%;
    }

    .hero_title{
        h2{
            font-size: 4rem;
        }
    }
}