@media screen and (max-width: 768px){
    .hero{
        padding: 70px 2% 30px 6%;
    }

    .hero_title{
        width: 100%;
        padding-top: 0px;
        h2{
            font-size: 3.3rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
}


@media screen and (max-width: 1024px){

    .hero{
        padding: 70px 2% 30px 6%;
    }

    .hero_title{
        h2{
            font-size: 4rem;
        }
    }
}