.logo_loadingscreen{
    height: 16vh;
    #white-screen{
        fill: $white;
    }
}

.logo_sidenav{
    height: 70%;
    display: none;
    overflow: hidden;
    #white-screen{
        fill: $white;
    }
}


@media screen and (max-width: 768px){
    .logo_hero{
        display: none;
    }
    .logo_sidenav{
        display: block;
        height: 70%;
    }  
}


@media screen and (max-width: 1024px){
    .logo_hero{
        height: 66vh;
        margin-right: -50px;
    }  

}