$header_height_mobile: 110px;

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    z-index: 3;
    transition: 0.4s;
    h1{
        color: $primary;
        margin: 0;
        transition: 0.3s;
        &:hover{
            color: $black;
        }
    }
}

.nav_top{
    height: 80px;
    overflow: hidden;
    width: 100%;
    padding: 0 8%;
    position: absolute;
    top: 0;
    h1{
        font-size: 3.5rem;
    }
    .nav{
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
    }
}

.nav_scroll{
    position: fixed;
    top: -60px;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 0 9%;
    box-shadow: 0px 2px 10px 0px rgba(21, 47, 95, 0.10);
    overflow: hidden;
    h1{
        font-size: 2.8rem;
    } 
}


ul{
    display: flex;
}

.nav{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-top: 2px;
    .nav_active{
        color: $primary!important;
        &::before{
            content: "";
            position: absolute;
            height: 100%; width: 55%;
            left: 0; bottom: 0;
            border-bottom: solid 2px $primary;
            transition: 0.4s;
        }
    }
    a{
        color: $white;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 500;
        transition: color 0.3s;
        color: $black;
        position: relative;
        padding-bottom: 4px;
        &::before{
            content: "";
            position: absolute;
            height: 100%; width: 55%;
            left: -100%; bottom: 0;
            border-bottom: solid 2px $primary;
            transition: 0.3s;
        }
        &:hover{
            cursor: pointer;
            color: $primary;
            &::before{
                left: 0;
            }
        }
        &:not(:last-of-type){
            margin-right: 35px;
        }
        
    }
}

.menu_btn{
    overflow: hidden;
    display: none;
    width: 35px;
    height: 35px;
    margin-left: 30px;
    cursor: pointer;
    svg{
        transition: fill 0.5s;
        fill: $black;
    }
}

.lang{
        text-decoration: underline;
        margin-right: 0px!important;
        display: flex;
        align-items: center;
        z-index: 3;
        
    img{
        margin-left: 8px;
        width: 25px;
    }
}

.header_left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 768px){
    .nav_top .nav{
        margin-top: 10px;
    }
    .nav_top{
        .logo{
            h1{
                font-size: 3rem;
            }
            img{
                height: 35px;
            }
        }
    }
    .nav_scroll{
        .logo{
            img{
                height: 35px;
            }
        }
    }
    .menu_btn{
        display: block;
    }

    .nav{
        a:not(.lang){
            display: none;
        }
    }

}


