/* Palette */
$primary_dark: #11114d;
$accent: #3333C2;


$title: #191970;

$footer_background: #000011;
$black_translucent: rgba(0, 14, 37, 0.75); 


$primary: #DC3737;
$primary_trans: hsla(0, 83%, 60%, 0.9);
$white: #fff;
$black: #2c2c2c;
$title: #32333C;
$subtitle: #666666;
$text: #2c2c2cb3;
$hero_bg: #fafafa;
$grey_bg: hsl(0, 0%, 96%);